
body{
    background: linear-gradient(to bottom,#fff8f0,#e6ccb2,#d6b89c);
    text-align:center;
    font-family:Arial,sans-serif;
    margin:0;
    padding:0;
}

/* Navbar */
nav{
    background:#b3001b;
    padding:20px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:20px;
    font-size:22px;
    font-weight:bold;
}

/* Main Title */
.main-title{
    font-size:70px;
    font-weight:900;
    color:#8B0000;
    text-align:center;
    margin-top:30px;
    text-shadow:3px 3px 10px rgba(0,0,0,0.3);
}

/* Subtitle */
.tagline{
    font-size:24px;
    margin-bottom:20px;
}

/* Hero Image */
.hero img{
    width:90%;
    max-width:900px;
    border-radius:15px;
}

/* Section Heading */
h2{
    font-size:50px;
    font-weight:bold;
    margin-top:40px;
}

/* Menu Cards */
.menu{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:30px;
}

.card{
    width:320px;
    background:white;
    border-radius:15px;
    padding:15px;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

.card img{
    width:100%;
    height:220px;
    border-radius:10px;
}

.card h3{
    font-size:28px;
}

.card p{
    font-size:22px;
}

/* Buttons */
button{
    background:#b3001b;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:8px;
    font-size:18px;
    cursor:pointer;
}

/* Inputs */
input,select,textarea{
    width:80%;
    max-width:500px;
    padding:15px;
    margin:10px;
    font-size:18px;
}

/* Footer */
footer{
    background:#b3001b;
    color:white;
    padding:25px;
    margin-top:40px;
    font-size:18px;
}
