
/* Body */
body{
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Navbar */
nav{
    background-color: brown;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

/* Search box */
input{
    padding: 10px;
    width: 250px;
    border-radius: 10px;
}

/* MAIN TITLE (Coffee Shop) */
h1{
    font-size: 90px;        /* பெரிய title */
    font-weight: 900;       /* bold */
    color: brown;
    font-family: cursive;
    text-align: center;
    margin: 20px 0;
    letter-spacing: 2px;
}

/* Sub headings */
h2, h3{
    text-align: center;
    font-weight: bold;
}

/* Menu cards center align */
.menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

/* Card style */
.card{
    width: 250px;
    background: white;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}

/* Buttons */
button{
    background-color: brown;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

button:hover{
    background-color: darkred;
}

/* Center sections */
section{
    text-align: center;
    padding: 30px;
}
